<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>College Data Visualization</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
</head>

<body style="background: #dbe6ef;font-family: Rubik, sans-serif;">
<div class="top-nav d-flex justify-content-between" id="myTopnav">
    <div>
        <a class="d-flex align-items-center" style="font-weight: bold;" th:href="@{dashboard}">
            <i class="fa fa-codiepie" style="font-size: 1.5rem;color: #ffffff;transform: rotate(208deg);"></i>
            <span class="ms-2" style="color: rgb(255,255,255);">OneDash</span>
        </a>
        <div class="drop-down">
            <button class="drop-btn">Dashboard
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="drop-down-content">
                <a th:href="@{school-dashboard}">School Dashboard</a>
                <a th:href="@{student-dashboard}">Student Dashboard</a>
            </div>
        </div>
        <div class="drop-down">
            <button class="drop-btn">Students
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="drop-down-content">
                <a th:href="@{all-students}">All Students</a>
                <a th:href="@{new-student}">Add Student</a>
                <a th:href="@{edit-student}">Edit Student</a>
            </div>
        </div>
        <div class="drop-down">
            <button class="drop-btn">Manage
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="drop-down-content">
                <a th:href="@{manage-users}">Manage Users</a>
                <a th:href="@{manage-staff}">Manage Staff</a>
            </div>
        </div>

        <a th:href="@{data-table}">Data Table</a>
    </div>

    <div class="drop-down justify-content-end">
        <button class="drop-btn">
            <i class="fas fa-user-circle"></i>
        </button>
        <div class="drop-down-content">
            <a th:href="@{logout}">Log out</a>
        </div>
    </div>
    <a class="icon" href="javascript:void(0);" onclick="myFunction()">
        <svg fill="none" height="1em" style="font-size: 24px;" viewBox="0 0 24 24" width="1em"
             xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M2 5.99519C2 5.44556 2.44556 5 2.99519 5H11.0048C11.5544 5 12 5.44556 12 5.99519C12 6.54482 11.5544 6.99039 11.0048 6.99039H2.99519C2.44556 6.99039 2 6.54482 2 5.99519Z"
                    fill="currentColor"></path>
            <path
                    d="M2 11.9998C2 11.4501 2.44556 11.0046 2.99519 11.0046H21.0048C21.5544 11.0046 22 11.4501 22 11.9998C22 12.5494 21.5544 12.9949 21.0048 12.9949H2.99519C2.44556 12.9949 2 12.5494 2 11.9998Z"
                    fill="currentColor"></path>
            <path
                    d="M2.99519 17.0096C2.44556 17.0096 2 17.4552 2 18.0048C2 18.5544 2.44556 19 2.99519 19H15.0048C15.5544 19 16 18.5544 16 18.0048C16 17.4552 15.5544 17.0096 15.0048 17.0096H2.99519Z"
                    fill="currentColor"></path>
        </svg>
    </a>
</div>
<section>
    <div class="row m-auto" style="width:90vw">
        <div class="col bg-white p-0 my-4">
            <header class="header mb-3 p-3 text-white my-header">
                <h1 class="text-center fs-5 mb-0">Staff Table</h1>
            </header>
            <section>
                <!-- Button trigger modal -->
                <button class="btn ms-3 mb-3 btn-sm btn-primary" data-bs-target="#newStaffModal" data-bs-toggle="modal"
                        type="button">
                    <i class="fas fa-user-plus me-1"></i> Add Staff
                </button>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="newstaffModalLabel" class="modal fade" id="newStaffModal"
                     tabindex="-1">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newStaffModalLabel">New Staff</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="row modal-body">
                                <form action="" class="row px-md-3" method="post">
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="title">Title</label>
                                        <select class="form-select" id="title" name="title" required>
                                            <option disabled selected value="">Open this select menu</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="firstname">First name(s)</label>
                                        <input class="form-control" id="firstname" name="firstname"
                                               placeholder="Ex. John" required type="text" value="">
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="surname">Surname</label>
                                        <input class="form-control" id="surname" name="surname" placeholder="Ex. Doe"
                                               required type="text" value="">
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="gender">Gender</label>
                                        <select class="form-select" id="gender" name="gender" required>
                                            <option disabled selected value="">Open this select menu</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other (I prefer not to say)</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="cellphone">Cellphone</label>
                                        <input class="form-control" id="cellphone" name="cellphone"
                                               placeholder="Ex. 0731234567" required type="tel" value="">
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control" id="email" name="email"
                                               placeholder="Ex. john@email.com" required type="email" value="">
                                    </div>
                                    <div class="col-sm-6 col-md-4 mb-3">
                                        <label class="form-label" for="gender">Role</label>
                                        <select class="form-select" id="gender" name="gender" required>
                                            <option disabled selected value="">Open this select menu</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Teacher">Teacher</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Stakeholder">Stakeholder</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <h1 class="fs-5 text-primary">Create Password</h1>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" id="password" name="password"
                                               placeholder="Password" required type="password" value="">
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label" for="password">Confirm Password</label>
                                        <input class="form-control" id="password" name="password"
                                               placeholder="Password" required type="password" value="">
                                    </div>
                                    <div class="col-12">
                                        <input class="mt-4 btn text-white my-header" type="submit" value="Submit">
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal"
                                        type="button">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="table-responsive px-3">
                <table class="table table-stripped" id="example" style="width:100%">
                    <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th>Gender</th>
                        <th>Cellphone</th>
                        <th>Email</th>
                        <th>Designation</th>
                        <th>Reg. Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10000</td>
                        <td>Mrs</td>
                        <td>Kelly</td>
                        <td>Jackson</td>
                        <td>Female</td>
                        <td>0765548756</td>
                        <td>kjackson@gmail.com</td>
                        <td>Admin</td>
                        <td>2021-03-04</td>
                        <td class="d-flex">
                            <section>
                                <!-- Button trigger modal -->
                                <button class="btn btn-sm btn-primary" data-bs-target="#editModal" data-bs-toggle="modal"
                                        type="button">
                                    Edit
                                </button>

                                <!-- Modal -->
                                <div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade"
                                     id="editModal" tabindex="-1">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Update User</h5>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="" class="row px-md-3" method="post">
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="title">Title</label>
                                                        <select class="form-select" id="title" name="title" required>
                                                            <option disabled selected value="">Open this select menu
                                                            </option>
                                                            <option value="Mr">Mr</option>
                                                            <option value="Mrs">Mrs</option>
                                                            <option value="Miss">Miss</option>
                                                            <option value="Ms">Ms</option>
                                                            <option value="Dr">Dr</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="firstname">First name(s)</label>
                                                        <input class="form-control" id="firstname" name="firstname"
                                                               placeholder="Ex. John" required type="text"
                                                               value="">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="surname">Surname</label>
                                                        <input class="form-control" id="surname" name="surname"
                                                               placeholder="Ex. Doe" required type="text" value="">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="gender">Gender</label>
                                                        <select class="form-select" id="gender" name="gender" required>
                                                            <option disabled selected value="">Open this select menu
                                                            </option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Other">Other (I prefer not to say)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="cellphone">Cellphone</label>
                                                        <input class="form-control" id="cellphone" name="cellphone"
                                                               placeholder="Ex. 0731234567" required type="tel"
                                                               value="">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="email">Email</label>
                                                        <input class="form-control" id="email" name="email"
                                                               placeholder="Ex. john@email.com" required type="email"
                                                               value="">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 mb-3">
                                                        <label class="form-label" for="gender">Role</label>
                                                        <select class="form-select" id="gender" name="gender" required>
                                                            <option disabled selected value="">Open this select menu
                                                            </option>
                                                            <option value="Admin">Admin</option>
                                                            <option value="Teacher">Teacher</option>
                                                            <option value="Manager">Manager</option>
                                                            <option value="Stakeholder">Stakeholder</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12">
                                                        <input class="mt-4 btn text-white my-header" type="submit"
                                                               value="Submit">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                        type="button">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <form action="" class="ms-1" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/bs-init.js}"></script>
<script th:src="@{assets/js/main.js}"></script>
</body>

</html>