<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>College Data Visualization</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="login-dark">
        <form th:method="post" th:action="@{}" th:object="${user}" class="text-center p-5">
            <div th:if="${validate == true}" class="w-100 text-center mb-3 ">
                <div class="btn-danger">Invalid Role, Username or Password!</div>
            </div>
            <div class="row text-start text-white mb-3">
                <h1 class="fs-6">
                    Select Role:
                </h1>
                <div class="form-check col-6">
                    <input class="form-check-input" type="radio" name="role" id="admin" required>
                    <label class="form-check-label" for="admin">
                        Admin
                    </label>
                </div>
                <div class="form-check col-6">
                    <input class="form-check-input" type="radio" name="role" id="teacher" >
                    <label class="form-check-label" for="teacher">
                        Teacher
                    </label>
                </div>
                <div class="form-check col-6">
                    <input class="form-check-input" type="radio" name="role" id="stakeholder">
                    <label class="form-check-label" for="stakeholder">
                        Stakeholder
                    </label>
                </div>
                <div class="form-check col-6">
                    <input class="form-check-input" type="radio" name="role" id="parent">
                    <label class="form-check-label" for="parent">
                        Parent
                    </label>
                </div>
            </div>
            <div class="form-floating mb-3 text-white">
                <input type="text" class="form-control bg-transparent text-white" name="username" id="username" placeholder="123456" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3 text-white">
                <input type="password" class="form-control bg-transparent text-white" name="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3 text-white">
                <input type="password" class="form-control bg-transparent text-white" name="confirm-password" id="confirm-password"
                    placeholder="Confirm Password" required>
                <label for="confirm-password">Confirm Password</label>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" type="submit">Change Password</button>
            </div>
            <a class="forgot text-white" href="login.html">Or Log In</a>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>